@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
  --Cyan:hsl(180, 66%, 49%);
  --DarkViolet:hsl(257, 27%, 26%);
  --Red:hsl(0, 87%, 67%);
  --Gray:hsl(0, 0%, 75%);
  --GrayishViolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);
}



body {
  font-family: 'Poppins', sans-serif;
}


 .menuLinkContaine {
     top: -20rem;
        transition: .6s ease-in-out;
        scale: .01;
      }


      .menuLinkContaine.active {
      top: 0;
      scale: 1;
      }